<!DOCTYPE html>
<html lang="en">

<head>
  <title>About Us</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- particles.js container -->
  <div id="particles-js"></div>
  <div id="overlay">
    <div class="navbar-fixed">
      <nav class="black">
        <div class="container">
          <div class="nav-wrapper">
            <a style="padding-left: 20px;" href="/home" class="brand-logo"><img src="img/glyph.png" height="30px"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/events">Events</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/login">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      <center>
        <h3 style="color: white;">About Us</h3></center>
    </div>

    <div class="container" style="padding-top: 30px;">
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://yt3.ggpht.com/-bWUaHwGz7To/AAAAAAAAAAI/AAAAAAAAAAA/xEUD6X5iT2Y/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" style="height: 400px;">
            </div>
            <div class="card-content grey darken-3">
              <span class="card-title activator white-text text-darken-4">Free Code Camp<i class="material-icons right" id="options">more_vert</i></span>
            </div>
            <div class="card-reveal black">
              <span class="card-title white-text text-darken-4">Free Code Camp<i class="material-icons right">close</i></span>
              <br>
              <p class="white-text text-darken-4">freeCodeCamp is a nonprofit organization that consists of an interactive learning web platform, an online community forum, chat rooms, Medium publications, and local organizations that intend to make learning web development accessible to anyone.</div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://c1.staticflickr.com/4/3187/2935171884_8865027a73_b.jpg" style="height: 400px;">
            </div>
            <div class="card-content grey darken-3">
              <span class="card-title activator white-text text-darken-4">Free Code Camp Bengaluru<i class="material-icons right" id="options">more_vert</i></span>
            </div>
            <div class="card-reveal black">
              <span class="card-title white-text text-darken-4">Free Code Camp Bengaluru<i class="material-icons right">close</i></span>
              <br>
              <p class="white-text text-darken-4">Official Free Code Camp group for people in Bengaluru!</div>
          </div>
        </div>
      </div>

    </div>
    <br><br><br>
    <footer class="page-footer black">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Free Code Camp Bengaluru</h5>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="/home">Home</a></li>
              <li><a class="grey-text text-lighten-3" href="/dashboard">Dashboard</a></li>
              <li><a class="grey-text text-lighten-3" href="/about">About Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2018 FCC
        </div>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>

  <!-- particles.js lib (JavaScript CodePen settings): https://github.com/VincentGarreau/particles.js -->
  <script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
  <script src='https://threejs.org/examples/js/libs/stats.min.js'></script>

  <script src="js/index.js"></script>

</body>

</html>
