<!DOCTYPE html>
<html lang="en" >
<head>
  <title> Welcome to FCC! </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- particles.js container -->
<div id="particles-js"></div>
<div id="overlay">
  <div class="navbar-fixed">
  <nav class="black">
    <div class="container">
      <div class="nav-wrapper">
          <a style="padding-left: 20px;" href="/home" class="brand-logo"><img src="img/glyph.png" height="30px"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
    </div>
    </nav>
  </div>

    <div class="container"><center><h3 style="color: white;">Welcome to FCC!</h3></center></div>

    <div class="container" style="padding-top: 30px;">
      <div class="row">
          <div class="col s12 m6">
            <div class="card">
          <div class="card-image waves-effect waves-block waves-light" >
            <img class="activator" src="https://c1.staticflickr.com/6/5094/5388473175_52209e2809_b.jpg" style="height: 350px;">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">San Francisco<i class="material-icons right" id="options">more_vert</i></span>
          </div>
          <div class="card-reveal white">
            <span class="card-title black-text text-darken-4">Info about San Franciso!<i class="material-icons right">close</i></span>
            <br>
            <p>San Francisco, in northern California, is a hilly city on the tip of a peninsula surrounded by the Pacific Ocean and San Francisco Bay. It's known for its year-round fog, iconic Golden Gate Bridge, cable cars and colorful Victorian houses. The Financial District's Transamerica Pyramid is its most distinctive skyscraper. In the bay sits Alcatraz Island, site of the notorious former prison.</p>
          </div>
        </div>
          </div>

          <div class="col s12 m6">
            <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://brightcove04pmdo-a.akamaihd.net/5104226627001/5104226627001_5244886037001_5205241352001-vs.jpg?pubId=5104226627001&videoId=5205241352001" style="height: 350px;">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Paris<i class="material-icons right" id="options">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Info about Paris!<i class="material-icons right">close</i></span>
            <br>
            <p>Paris, France's capital, is a major European city and a global center for art, fashion, gastronomy and culture. Its 19th-century cityscape is crisscrossed by wide boulevards and the River Seine. Beyond such landmarks as the Eiffel Tower and the 12th-century, Gothic Notre-Dame cathedral, the city is known for its cafe culture and designer boutiques along the Rue du Faubourg Saint-Honoré.</p>
          </div>
        </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m6">
            <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://lonelyplanetimages.imgix.net/mastheads/GettyImages-480295417_super.jpg?sharp=10&vib=20&w=1200" style="height: 350px;">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Zurich<i class="material-icons right" id="options">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Info about Zurich!<i class="material-icons right">close</i></span>
            <br>
            <p>The city of Zurich, a global center for banking and finance, lies at the north end of Lake Zurich in northern Switzerland. The picturesque lanes of the central Altstadt (Old Town), on either side of the Limmat River, reflect its pre-medieval history. Waterfront promenades like the Limmatquai follow the river toward the 17th-century Rathaus (town hall).</p>
          </div>
        </div>
          </div>

          <div class="col s12 m6">
            <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/Germany/Berlin/Berlin%20cathedral-xlarge.jpg" style="height: 350px;">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Berlin<i class="material-icons right" id="options">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Info about Berlin!<i class="material-icons right">close</i></span>
            <br>
            <p>Berlin, Germany’s capital, dates to the 13th century. Reminders of the city's turbulent 20th-century history include its Holocaust memorial and the Berlin Wall's graffitied remains. Divided during the Cold War, its 18th-century Brandenburg Gate has become a symbol of reunification. The city's also known for its art scene and modern landmarks like the gold-colored, swoop-roofed Berliner Philharmonie, built in 1963.</p>
          </div>
        </div>
          </div>
        </div>
      </div>

      <footer class="page-footer black">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">Free Code Camp Bengaluru</h5>
             </div>
             <div class="col l4 offset-l2 s12">
               <h5 class="white-text">Links</h5>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="/home">Home</a></li>
                 <li><a class="grey-text text-lighten-3" href="/dashboard">Dashboard</a></li>
                 <li><a class="grey-text text-lighten-3" href="/about">About Us</a></li>
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2018 FCC
           </div>
         </div>
       </footer>
</div>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
  <script src='https://threejs.org/examples/js/libs/stats.min.js'></script>

  <script  src="js/index.js"></script>

</body>
</html>
